---
layout: default
---
<div class="post-blank post-pager">
    <ul class="pager">
        {% if page.previous %}
        <li class="previous"><a href="{{ site.url }}{{ page.previous.url }}">&larr; 上一篇</a></li>
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ site.url }}{{ page.next.url }}">下一篇 &rarr;</a></li>
        {% endif %}
    </ul>
</div>
<div class="page-content-post">
    <div class="post-heading">
        {{ page.title }}
    </div>
    <div class="post-meta">
        <span>
            发布时间:
            <a href="{{ site.url }}{{ page.url }}">{{ page.date | date:"%Y年%m月%d日" }}</a>
        </span>
	{% capture difference %} {{ page.categories | size | minus:1 }} {% endcapture %}
        {% unless difference contains '-' %}
        <span><i class="fa fa-ellipsis-v"></i></span>
        <span>
            分类: 
            {% for cat in page.categories %}
            <a href="{{ site.url }}/categories.html#{{ cat }}-ref">{{ cat }}</a>
            {% endfor %}
        </span>
	{% endunless %}
	{% capture difference %} {{ page.tags | size | minus:1 }} {% endcapture %}
        {% unless difference contains '-' %}
        <span class="hidden-sm"><i class="fa fa-ellipsis-v"></i></span>
        <span class="hidden-sm">
            标签:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/tags.html#{{ tag }}-ref">{{ tag }}</a>
            {% endfor %}
        </span>
	{% endunless %}
    </div>
	{% if page.hgimg %}
		{% if page.fullhgimg %}
			<div><a alt="点击查看大图" href="{{ site.url }}/postimg/{{ page.fullhgimg }}"><img alt="点击查看大图" src="{{ site.url }}/postimg/{{ page.hgimg }}" class="hgimg" width="100%" /></a></div>
		{% else %}
			<div><img src="{{ site.url }}/postimg/{{ page.hgimg }}" class="hgimg" width="100%" /></div>
		{% endif %}
	{% endif %}
    <div class="post-entry">
        {{ content }}
    </div>
</div>